html {
	box-sizing: border-box;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {	
	position: relative;
	min-height: 100%;
	overflow-x: hidden;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: inherit;
}

button {
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
	border-radius: 0;
	cursor: pointer;
	-webkit-appearance: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

._img {
	position: relative;
	overflow: hidden;
	img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

ul,
li {
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.container-fluid {
	max-width: 1920px;
	margin: 0 auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100%;
	overflow-x: hidden;
}

.page {
	flex: 1 1 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	border: 0;
	word-spacing: nowrap;
}
